# SPDX-FileCopyrightText: 2026 H2Lab Development Team
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 100
extend-ignore = E203, E501, W503
docstring-convention = numpy
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .tox,
    .venv
